name: example
description: A new Flutter package project.
version: 0.0.1
publish_to: 'none' 

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  sticky_grouped_list:
    path: ../
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter